<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thêm sinh viên</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container mx-auto p-8">
        <div class="flex justify-center">
            <form action="/create-student" method="POST" class="w-full max-w-lg bg-white p-6 rounded-lg shadow-md">
                <h2 class="text-2xl font-bold text-gray-800 mb-6 text-center">
                    Thông tin sinh viên
                </h2>

                <!-- Mã số sinh viên -->
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="studentId">Mã số sinh viên</label>
                    <input type="text" name="studentId" required
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        placeholder="Mã số sinh viên" />
                </div>

                <!-- Họ tên -->
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="fullName">Họ tên</label>
                    <input type="text" name="fullName" required
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        placeholder="Họ tên" />
                </div>

                <!-- Ngày tháng năm sinh -->
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="dateOfBirth">Ngày tháng năm
                        sinh</label>
                    <input type="date" name="dateOfBirth" required
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
                </div>

                <!-- Giới tính -->
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="gender">Giới tính</label>
                    <div class="relative">
                        <select name="gender" required
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                        </select>
                        <div
                            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 text-xs">
                            ▼
                        </div>
                    </div>
                </div>

                <!-- Khoa
                <div class="mb-4 relative">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="faculty">Khoa</label>
                    <div class="relative">
                        <select name="faculty" required
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline hover:cursor-pointer">
                            <option value="Khoa Luật">Khoa Luật</option>
                            <option value="Khoa Tiếng Anh thương mại">
                                Khoa Tiếng Anh thương mại
                            </option>
                            <option value="Khoa Tiếng Nhật">Khoa Tiếng Nhật</option>
                            <option value="Khoa Tiếng Pháp">Khoa Tiếng Pháp</option>
                        </select>
                        <div
                            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 text-xs">
                            ▼
                        </div>
                    </div>
                </div> -->

                <!-- Khóa -->
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="course">Khóa</label>
                    <input type="text" name="course" required
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        placeholder="Khóa" />
                </div>

                <!-- Chương trình
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="program">Chương trình</label>
                    <input type="text" name="program" required
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        placeholder="Chương trình" />
                </div> -->

                <!-- Địa chỉ -->
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="address">Địa chỉ</label>
                    <input type="text" name="address" required
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        placeholder="Địa chỉ" />
                </div>

                <!-- Email -->
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
                    <input type="email" name="email" required
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        placeholder="Email" />
                </div>

                <!-- Số điện thoại -->
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="phoneNumber">Số điện thoại liên
                        hệ</label>
                    <input type="text" name="phoneNumber" required
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        placeholder="Số điện thoại liên hệ" />
                </div>

                <!-- Tình trạng sinh viên
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="status">Tình trạng sinh viên</label>
                    <div class="relative">
                        <select name="studentStatus" required
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                            <option value="Đang học">Đang học</option>
                            <option value="Đã tốt nghiệp">Đã tốt nghiệp</option>
                            <option value="Đã thôi học">Đã thôi học</option>
                            <option value="Tạm dừng học">Tạm dừng học</option>
                        </select>
                        <div
                            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 text-xs">
                            ▼
                        </div>
                    </div>
                </div> -->

                <!-- Nút Submit -->
                <div class="flex items-center justify-center">
                    <button type="submit"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded focus:outline-none focus:shadow-outline">
                        Gửi
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('success')) {
        alert('Thêm sinh viên thành công!');
        window.location.href = '/get-create-student'; // Reload trang sau khi nhấn OK
    } else if (urlParams.has('error')) {
        alert('Có lỗi xảy ra, vui lòng thử lại!');
    }
</script>